<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="css/category.css">
    <script src="js/flexible.js"></script>
    <script src="../../api_server/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/tab_switch.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- 头部header区域 -->
        <div class="header">
            <div class="logo"></div>
            <h4>课 程 分 类</h4>
        </div>
        <!-- 中间内容区域 -->
        <div class="main">
            <div class="tab_list">
                <ul>
                    <li class="current">前端</li>
                    <li>微信小程序</li>
                    <li>Vue.js</li>
                    <li>移动web开发</li>
                    <li>bootstrap</li>
                    <li>Node.js</li>
                </ul>
            </div>
            <div class="tab_con">
                <div class="item" style="display: block">
                    <h5>就业班</h5>
                    <div class="pic">
                        <img src="images/web_fe.png" alt="">
                        <p>web前端在线就业班</p>
                    </div>
                    <h5 class="advance">提高课</h5>
                    <ul>
                        <li>微信小程序</li>
                        <li>深入探索js</li>
                        <li>node.js</li>
                        <li>bootstrap</li>
                        <li>vue.js</li>
                        <li>微信小程序</li>
                        <li>深入探索js</li>
                        <li>node.js</li>
                        <li>bootstrap</li>
                        <li>vue.js</li>
                        <li>微信小程序</li>
                        <li>深入探索js</li>
                        <li>node.js</li>
                        <li>bootstrap</li>
                        <li>vue.js</li>
                        <li>微信小程序</li>
                        <li>深入探索js</li>
                        <li>node.js</li>
                    </ul>
                </div>
                <div class="item">
                    <h5>就业班</h5>
                    <div class="pic">
                        <img src="images/web_fe.png" alt="">
                        <p>微信小程序就业班</p>
                    </div>
                    <h5 class="advance">提高课</h5>
                    <ul>
                        <li>微信小程序</li>
                        <li>bootstrap</li>
                        <li>node.js</li>
                        <li>angular</li>
                        <li>react</li>
                    </ul>
                </div>
                <div class="item">vue.js</div>
                <div class="item">移动web开发</div>
                <div class="item">bootstrap</div>
                <div class="item">node.js</div>
            </div>
        </div>
        <!-- 底部导航区域 -->
        <div class="nav">
            <div class="homepage">
                <img src="images/3.png" alt="">
                <p>首 页</p>
            </div>
            <div class="classify right">
                <img src="images/2.png" alt="">
                <p>分 类</p>
            </div>
        </div>
    </div>
</body>

</html>