<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/flexible.js"></script>
    <script src="../../api_server/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/tab_switch.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- 头部header区域 -->
        <div class="header">
            <a href="#" class="email"></a>
            <div class="logo"></div>
            <a href="#" class="search"></a>
        </div>
        <!-- 中间内容区域 -->
        <div class="main">
            <!-- banner区域 -->
            <div class="banner">
                <img src="images/FE.png" alt="">
            </div>
            <!-- 就业课区域 -->
            <div class="employment-course">
                <h4>·<span>就 业 课</span>·</h4>
                <a href="#"><img src="images/fe-list.png" alt=""></a>
                <a href="#"><img src="images/java.png" alt=""></a>
                <a href="#"><img src="images/data.png" alt=""></a>
                <a href="#"><img src="images/python.png" alt=""></a>
                <a href="#"><img src="images/ui.png" alt=""></a>
                <a href="#"><img src="images/fe-list.png" alt=""></a>
            </div>
            <!-- 微课区域 -->
            <div class="micro-class">
                <h4>·<span>微 课</span>·</h4>
            </div>
        </div>
        <!-- 底部导航区域 -->
        <div class="nav">
            <div class="homepage">
                <img src="images/3.png" alt="">
                <p>首 页</p>
            </div>
            <div class="classify right">
                <img src="images/2.png" alt="">
                <p>分 类</p>
            </div>
        </div>
    </div>
</body>

</html>